.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    height: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .num-div {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 90%;   
  }

  .num-btn {
     border: 2px rgb(8, 8, 90);    
    padding: .9rem;
    border-radius: 50%;
    font-size: 1.3rem;
    color: white;
    background: rgb(8, 8, 90);
    /* width: 40%; */
  }