.container {
    background-color: #c00025;
    
    width: 100%;
    max-width: 550px;
    height: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}

.logo-container {
    /* border: 2px solid green;   */
    margin: 2rem 1rem;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .num-div {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin-left: 4rem;
    width: 25%;   
  }

  .num-btn {
    border: 2px rgb(8, 8, 90);    
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 50%;
    font-size: 1.3rem;
    color: white;
    background: rgb(8, 8, 90);
    
  }

  .op-div {
    display: flex;
    flex-direction: column;
     justify-content: center; 
    position: relative;
    left: 13rem;
    top: -15.7rem;
    margin-left: 1rem;
    width: 8%;    
  }

  .op-btn {
    border: 3px rgb(8, 8, 90);    
    padding: .3rem;
    margin-bottom: .8rem;
    border-radius: 50%;
    font-size: 1.3rem;
    color: white;
    background: rgb(67, 180, 218);   
  }